::ng-deep{
  span{
    color: #fff !important;
    font-family: Cairo !important;

  }


}
.list{
  a{
  padding: 30px;
  position: relative;
  mat-icon{
    position: relative;
    top: 5px;

  }
  }
  a.active{
    background-color:#35439e ;
  }
}
.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;


}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

}
.menu.title{
  background-color: #3f51b5 !important;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  border-bottom:1px solid #273272 ;
  text-shadow: 20px;
  position: relative;
  font-family: Cairo;

}

mat-sidenav{
  background-color: #3f51b5;



}
